@font-face {
  font-family: "Noto Sans KR";
  font-weight: 300;
  src: url("./assets/font/Noto_Sans_KR/NotoSansKR-Light.otf") format("woff2"),
    url("./assets/font/Noto_Sans_KR/NotoSansKR-Light.otf") format("woff"),
    url("./assets/font/Noto_Sans_KR/NotoSansKR-Light.otf") format("truetype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-weight: 400;
  src: url("./assets/font/Noto_Sans_KR/NotoSansKR-Regular.otf") format("woff2"),
    url("./assets/font/Noto_Sans_KR/NotoSansKR-Regular.otf") format("woff"),
    url("./assets/font/Noto_Sans_KR/NotoSansKR-Regular.otf") format("truetype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-weight: 500;
  src: url("./assets/font/Noto_Sans_KR/NotoSansKR-Medium.otf") format("woff2");
}

@font-face {
  font-family: "Noto Sans KR";
  font-weight: 700;
  src: url("./assets/font/Noto_Sans_KR/NotoSansKR-Bold.otf") format("woff2"),
    url("./assets/font/Noto_Sans_KR/NotoSansKR-Bold.otf") format("woff"),
    url("./assets/font/Noto_Sans_KR/NotoSansKR-Bold.otf") format("truetype");
}
